<!DOCTYPE HTML>
<html>
    <head>
        <title>借吧</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="../css/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../css/mui/mui.min.css">
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/list.css" />
        <script src="../js/lib/mui.min.js"></script>

    </head>
    <body>
    	<header class="mui-bar mui-bar-nav">
            <div class="header-wrap">
                <div class="location">
                    <i class=" icon-map-marker"></i><span> 合肥 </span>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="请输入类别或关键字" >
                </div>
            </div>
        </header>
        
        <div class="footer"> 
        	<nav class="mui-bar mui-bar-tab" id="footer_nav">
			  <a class="mui-tab-item" href="index.html">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">首页</span>
				</a>
				<a class="mui-tab-item  mui-active" href="#">
					<span class="mui-icon mui-icon-compose"></span>
					<span class="mui-tab-label">发布</span>
				</a>
				<a class="mui-tab-item" href="group.html">
					<span class="mui-icon mui-icon-chatboxes"></span>
					<span class="mui-tab-label">小组</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-map">
					<span class="mui-icon mui-icon-person"></span>
					<span class="mui-tab-label">我的</span>
				</a>
			</nav>
        </div>
    </body>
    <script type="text/javascript">
        	var aniShow = "pop-in";
        	//初始化时，加载
        	mui.init({
				swipeBack: false,
				statusBarBackground: '#f7f7f7',
				gestureConfig: {
					doubletap: true
				},
				subpages: [{
					id: 'list_body',
					url: 'list_body.html',
					styles: {
						top: '45px',
						bottom: '50px',
						bounce: 'vertical'
					}
				}]
			});
        </script>
        <script type="application/javascript" src="../js/service/common.js"></script>
</html>